* {
	font-family: Helvetica Neue, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #555;
}

img {
	max-width: 100%;
}

.col {
	padding: 3%;
}

.legCard {
	display: flex;
	padding: 3%;
	margin: 2% 0;
	border: 3px solid #ddd;
	background: lemonchiffon;
}

.legCard .portrait {
	flex: 1;
	text-align: center;
}

.legCard .legData {
	flex: 3;
}

#container {
	display: flex;
	width: 75%;
	margin: 0 auto;
}

#rightCol {
	flex: 3;
}

#leftCol {
	flex: 1;
}
